body{
    background-color: #3a86ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro{
    background-color: #ffbe0b;
    border-radius: 0.5em;
    font-size: large;
    /* font-weight: bold; */
}

input{
    width: 18%;
}
.btn{
    margin: 0.5em;
}

.input > input[type="text"]{
    padding: 0.5em;
    margin: 0.5em;
}

.messege{
    color: green;
    background-color: white;
}
.messege1{
    background-color: white;
    width: 50%;
    display: inline;
    margin: 0.5em;
}
.btnopen{
    color: black;
    background-color: white;
    width: 85px;
    border-radius: 0.5em;
}
.cart-box{
    display: inline;
    background-color: blueviolet;
}
table{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    /* flex: 1; */
}
td{
    text-align: center;
    vertical-align: bottom;
}
th, td{
    text-align: center;
    border: 1px solid black;
    padding: 15px;
}
.a1{
    flex: 1;
    margin: auto;
    display: flex;
}
.a2{
    margin: 1em;
    padding: 1em;
}
.aa{
    margin-left: 50%;
    display: flex;
}
h1{
    text-align: center;
}

h2{
    text-align: center;
}
.table{
    background-color: #8338ec;
    border-radius: 0.5em;
    padding: 0.5em;
    flex: 1;
}
.cart{
    padding: 0.5em;
    width: 99%;
    margin-top: 1em;
    margin-bottom: 1.5em;
    background-color: #ff006e;
    border-radius: 0.5em;
    flex: 1;
}
.contact_us{
    background-color: #fb5607;
    flex: 1;
}
.pizza{
    /*BoxModel*/
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    flex: 1;
}

.large_pizza{
    background-color: #8338ec;
}
.medium_pizza{
    background-color: #ff006e;
}
.small_pizza{
    background-color: #fb5607;
}

@media (min-width: 768px) {
    .pizzas1{
        display: flex;
    }
    .pizzas{
        display:flex;
    }
    
}